<div class="sidebar">
  <div (click)="dashboard()" class="nome-empresa">
    <div>
      <i class="fa-solid fa-briefcase"> EMPRESA TESTE </i>
      <span class="documento">134.874.816-86</span>
    </div>
  </div>
  <ul>
    <li>
      <i class="fa-solid fa-building"></i>
      <a routerLink="/">IMÓVEIS</a></li>

    <li>
      <i class="fa-solid fa-folder-open"></i
      ><a routerLink="/outra-rota">DOCUMENTOS</a>
    </li>

    <li>
      <i class="fa-solid fa-map-location-dot"></i
      ><a routerLink="/outra-rota">GEO RELATÓRIO</a>
    </li>

    <li>
      <i class="fa-solid fa-magnifying-glass"></i
      ><a routerLink="/outra-rota">ENCONTRAR IMÓVEIS</a>
    </li>

    <li>
      <i class="fa-solid fa-handshake"></i
      ><a routerLink="/outra-rota">CONVIDAR CORRETORES</a>
    </li>

    <li>
      <i class="fa-solid fa-heart"></i
      ><a routerLink="/outra-rota">POSSÍVEIS COMPRADORES</a>
    </li>

    <li>
      <i class="fa-solid fa-screwdriver-wrench"></i
      ><a routerLink="/outra-rota">VISTORIA</a>
    </li>
  </ul>
  <div class="footer">
    <p>PRIME HOUSES &copy; 2023</p>
  </div>
</div>
<div class="footer">
  <p>PRIME HOUSES &copy; 2023</p>
</div>
