<div class="sidebar">
  <div (click)="dashboard()" class="nome-empresa">
    <div>
      <i class="fa-solid fa-briefcase"> EMPRESA TESTE </i>
      <span class="documento">134.874.816-86</span>
    </div>
  </div>
  <div class="overflow">
    <ul>
      <li>
        <i class="fa-solid fa-building"></i>
        <a routerLink="/imoveis">IMÓVEIS</a>
      </li>

      <li>
        <i class="fa-solid fa-folder-open"></i
        ><a routerLink="/outra-rota">DOCUMENTOS</a>
      </li>

      <li>
        <i class="fa-solid fa-map-location-dot"></i
        ><a routerLink="/outra-rota">GEO RELATÓRIO</a>
      </li>

      <li>
        <i class="fa-solid fa-handshake"></i
        ><a routerLink="/outra-rota">CONVIDAR CORRETORES</a>
      </li>

      <li>
        <i class="fa-solid fa-heart"></i
        ><a routerLink="/outra-rota">POSSÍVEIS COMPRADORES</a>
      </li>

      <li>
        <i class="fa-solid fa-screwdriver-wrench"></i
        ><a routerLink="/outra-rota">VISTORIA</a>
      </li>

      <li>
        <i class="fa-solid fa-street-view"></i
        ><a routerLink="/outra-rota">PERFIL DEMOGRÁFICO</a>
      </li>

      <li>
        <i class="fa-solid fa-ranking-star"></i
        ><a routerLink="/outra-rota">RELATÓRIO DE CONCORRÊNCIA</a>
      </li>

      <li>
        <i class="fa-solid fa-magnifying-glass"></i
        ><a routerLink="/outra-rota">CAPTAÇÃO DE IMÓVEIS</a>
      </li>

      <li>
        <i class="fa-solid fa-chart-pie"></i
        ><a routerLink="/outra-rota">GESTÃO DE ALUGUÉIS</a>
      </li>

      <li>
        <i class="fa-solid fa-bullhorn"></i
        ><a routerLink="/outra-rota">GESTÃO DE ADS E MARKETING</a>
      </li>

      <li>
        <i class="fa-solid fa-people-group"></i
        ><a routerLink="/outra-rota">CONTATOS</a>
      </li>
    </ul>
  </div>

  <div class="footer">
    <p>PRIME HOUSES &copy; 2023</p>
  </div>
</div>
<div class="footer">
  <p>PRIME HOUSES &copy; 2023</p>
</div>
