@import "./../../../../constantes.scss";

.input-box {
    padding-bottom: 5px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
}

::ng-deep .mdc-floating-label {
    font-weight: 500 !important;
}

.mat-icon {
    color: $roxoPrincipal;
}