<!-- <app-botao-padrao [style]="'width: 15rem'" [nomeBotao]="'teste'" [desabilitado]="false" (click)="teste()"></app-botao-padrao>
<app-input-padrao [appearance]="'fill'" [nomeInput]="'Email'" [placeholder]="'email@email.com'" [type]="'text'"></app-input-padrao>
<app-input-padrao [appearance]="'fill'" [nomeInput]="'Senha'" [placeholder]="''" [type]="'password'"></app-input-padrao> -->

<!-- 
<app-login></app-login> -->

<!-- <router-outlet></router-outlet> -->


<div class="container" style="width: 100%; height: 100%;">
    <app-sidebar *ngIf="exibeSidebar"></app-sidebar>
    <div class="content" style="width: 100%; height: 100%;">
      <!-- Conteúdo principal da sua aplicação -->
      <router-outlet></router-outlet>
    </div>
  </div>
  