@import "./../../../../constantes.scss";

button {
    text-transform: uppercase;
    background: $roxoPrincipal;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

button:hover {
    background: #7a44cf;
    color: white 
}

.box {
    box-shadow: 1px 1px 29px 8px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 1px 29px 8px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 1px 29px 8px rgba(0,0,0,0.31);
}