<div class="base">
  <span>IMÓVEIS</span>
  <div
    fxLayout="row"
    fxLayout.lt-xl="column"
    fxLayoutAlign="center center"
    class="card"
  >
    <div style="width: 100%; padding: 10px;">
      <app-botao-padrao
        style="float: inline-end;"
        fxLayoutAlign="center center"
        [style]="'width: 15rem'"
        [nomeBotao]="'CRIAR IMÓVEL'"
        (click)="criarImovel()"
      ></app-botao-padrao>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="opcoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="opcoes" mat-button [matMenuTriggerFor]="menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="editar(element.id)" mat-menu-item>
              <i class="fa-solid fa-pencil"></i>&nbsp;EDITAR
            </button>
            <button (click)="excluir(element)" mat-menu-item>
              <i class="fa-solid fa-trash"></i>&nbsp;EXCLUIR
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>CÓDIGO</th>
        <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>TÍTULO</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>VALOR</th>
        <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
      </ng-container>

      <ng-container matColumnDef="seloVerificado">
        <th mat-header-cell *matHeaderCellDef>SELO PRIME</th>
        <td mat-cell *matCellDef="let element">
          <i
            style="color: green"
            *ngIf="element.seloVerificado"
            class="fa-solid fa-circle-check"
          ></i>
          <i
            style="color: red"
            *ngIf="!element.seloVerificado"
            class="fa-solid fa-circle-xmark"
          ></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
