$corPrincipal: linear-gradient(to right, #34495E, #2C3E50);

$degradeRoxo: linear-gradient(to right, #855bc1, #7a52bb 25%, #6f46b5 50%, #6431af 75%, #604cb7);
$degradeRosa: linear-gradient(to right, #e14a8d, #de4e8f 25%, #d85392 50%, #d35895 75%, #bb53a3);
$degradeAzul: linear-gradient(to right, #55c0e7, #66aee1 25%, #779cdd 50%, #888ada 75%, #6695db);
$degradeAmarelo: linear-gradient(to right, #fbba30, #fdae45 25%, #fda35a 50%, #fc986f 75%, #f88555);

$roxoPrincipal: #7a52bb;