@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body { height: 100% !important; width: 100%;}
body { margin: 0; }
*{
    font-family: 'Poppins';
    font-style: normal;
  }

