<div class="base">
  <span>CRIAR IMÓVEL</span>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="formInformacoes" editable="true">
      <ng-template matStepLabel>INFORMAÇÕES BÁSICAS</ng-template>
      <h1>INFORMAÇÕES BÁSICAS</h1>
      <div
        fxLayout="row"
        fxLayout.lt-xl="column"
        fxLayoutAlign="center center"
        class="card"
      >
        <div *ngIf="formInformacoes" style="width: 100%; padding: 10px">
          <form [formGroup]="formInformacoes">
            <div
              fxLayout="row"
              fxLayout.lt-xl="column"
              fxLayoutAlign="start start"
            >
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="60">
                  <app-input-padrao
                    [style]="'width: 20rem;'"
                    [form]="formInformacoes"
                    [formControlName]="'titulo'"
                    [appearance]="'outline'"
                    [nomeInput]="'Título'"
                    [placeholder]="'Apartamento 4 quartos'"
                    [type]="'text'"
                  ></app-input-padrao>
                </div>
                <div fxFlex="40">
                  <app-input-padrao
                    [style]="'width: 20rem;'"
                    [form]="formInformacoes"
                    [formControlName]="'codigo'"
                    [appearance]="'outline'"
                    [nomeInput]="'Código'"
                    [placeholder]="'Código imobiliário'"
                    [type]="'text'"
                  ></app-input-padrao>
                </div>
              </div>
              <app-input-padrao
                [style]="'width: 30rem;'"
                [form]="formInformacoes"
                [formControlName]="'descricao'"
                [appearance]="'outline'"
                [nomeInput]="'Descrição'"
                [placeholder]="'Descreva seu imóvel'"
                [type]="'text'"
              ></app-input-padrao>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="60">
                  <app-input-padrao
                    [style]="'width: 20rem;'"
                    [form]="formInformacoes"
                    [formControlName]="'valor'"
                    [appearance]="'outline'"
                    [nomeInput]="'Valor'"
                    [placeholder]="'Valor do imóvel'"
                    [type]="'number'"
                  ></app-input-padrao>
                </div>
                <div fxFlex="40" class="tipo">
                  <mat-form-field appearance="outline" class="form-tipo">
                    <mat-label>Pagamento</mat-label>
                    <mat-select formControlName="pagamento">
                      <mat-option
                        [value]="pagamento"
                        *ngFor="let pagamento of pagamentos"
                        >{{ pagamento }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <img src="./../../../../../assets/images/19198827.jpg" alt=""> -->
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="60">
                  <mat-form-field appearance="outline" class="form-tipo">
                    <mat-label>Tipo do Imóvel</mat-label>
                    <mat-select formControlName="tipo">
                      <mat-option [value]="tipo" *ngFor="let tipo of tipos">{{
                        tipo
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="40">
                  <app-input-padrao
                    [style]="'width: 20rem;'"
                    [form]="formInformacoes"
                    [formControlName]="'comissao'"
                    [appearance]="'outline'"
                    [nomeInput]="'Porcentagem comissão'"
                    [placeholder]="'3%'"
                    [type]="'number'"
                  ></app-input-padrao>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div style="display: block ruby; width: 100%">
          <app-botao-padrao
            fxLayoutAlign="start start"
            [style]="
              'width: 11rem; font-size: 16px !important; margin-top: 18px'
            "
            [nomeBotao]="'VOLTAR'"
            [desabilitado]="false"
            (click)="voltar()"
          ></app-botao-padrao>
          <app-botao-padrao
            fxLayoutAlign="end end"
            [style]="
              'width: 11rem; font-size: 16px !important; margin-top: 18px'
            "
            [nomeBotao]="'CONTINUAR'"
            [desabilitado]="false"
            (click)="continuar()"
          ></app-botao-padrao>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>FOTOS</ng-template>
      <h1>FOTOS</h1>
      <p-fileUpload
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        accept="image/*"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
      <div style="display: block ruby; width: 100%">
        <app-botao-padrao
          fxLayoutAlign="start start"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'VOLTAR'"
          [desabilitado]="false"
          (click)="voltar()"
        ></app-botao-padrao>
        <app-botao-padrao
          fxLayoutAlign="end end"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'CONTINUAR'"
          [desabilitado]="false"
          (click)="continuar()"
        ></app-botao-padrao>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>DETALHAMENTO</ng-template>
      <h1>DETALHAMENTO<span class="detalhe">(SOMENTE AS INFORMAÇÕES PREENCHIDAS SERÃO EXIBIDAS AOS COMPRADORES)</span></h1> 
      <div *ngIf="formDetalhamento">
        <form [formGroup]="formDetalhamento">
          <div fxLayout="row" fxLayoutAlign="start start" class="card">
            <div fxFlex="30">
              <app-input-padrao
                [style]="'width: 20rem;'"
                [form]="formDetalhamento"
                [formControlName]="'tamanhoMtsQuadrados'"
                [appearance]="'outline'"
                [nomeInput]="'Tamanho em mts²'"
                [placeholder]="'3%'"
                [type]="'number'"
              ></app-input-padrao>
            </div>
            <div fxFlex="30">
              <app-input-padrao
                [style]="'width: 20rem;'"
                [form]="formDetalhamento"
                [formControlName]="'quantidadeQuartos'"
                [appearance]="'outline'"
                [nomeInput]="'Quantidade Quartos'"
                [placeholder]="'3'"
                [type]="'number'"
              ></app-input-padrao>
            </div>
            <div fxFlex="30">
              <app-input-padrao
                [style]="'width: 20rem;'"
                [form]="formDetalhamento"
                [formControlName]="'quantidadeBanheiros'"
                [appearance]="'outline'"
                [nomeInput]="'Quantidade Banheiros'"
                [placeholder]="'3'"
                [type]="'number'"
              ></app-input-padrao>
            </div>
          </div>
        </form>
      </div>
      <div style="display: block ruby; width: 100%">
        <app-botao-padrao
          fxLayoutAlign="start start"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'VOLTAR'"
          [desabilitado]="false"
          (click)="voltar()"
        ></app-botao-padrao>
        <app-botao-padrao
          fxLayoutAlign="end end"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'CONTINUAR'"
          [desabilitado]="false"
          (click)="continuar()"
        ></app-botao-padrao>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>LOCALIZAÇÃO</ng-template>
      <h1>LOCALIZAÇÃO</h1>
      <div style="display: block ruby; width: 100%">
        <app-botao-padrao
          fxLayoutAlign="start start"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'VOLTAR'"
          [desabilitado]="false"
          (click)="voltar()"
        ></app-botao-padrao>
        <app-botao-padrao
          fxLayoutAlign="end end"
          [style]="'width: 11rem; font-size: 16px !important; margin-top: 18px'"
          [nomeBotao]="'CONTINUAR'"
          [desabilitado]="false"
          (click)="continuar()"
        ></app-botao-padrao>
      </div>
    </mat-step>
  </mat-stepper>
</div>
